<ul>
<% @menu_items_by_course.each do |menu_item_by_course| %>
  <% if menu_item_by_course.any? %>
    <!-- menu items without courses could have been filtered out in a controller -->
    <h2><%= menu_item_by_course.first.course %></h2>
      <% menu_item_by_course.each do |menu_item| %>
        <li>
        <input type="checkbox" name="menu_item[dish_ids][]" value="<%= menu_item.id%>"> 
        <%= label_tag menu_item.name %></li>
       <% end %>
  <% end %>
<% end %>
</ul>